<div class="bar-stable">
     <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <button ui-sref="app.myCart" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-left"></i> 
      <span class="back-text"><div class="default-title medicine-search-title"></div><span class="previous-title hide"></span></span></button>
        <div class="title title-center header-item">Order Accepted
        </div>
    </ion-header-bar>
</div>
<ion-view view-title="Search">
    <ion-content class="no-header">
        <div class="ma-results ma-my-checkout">
            
            <div class="ma-checkout-wrapper">
                <div class="order-accepted">
                    <div class=order-status>Your Order Status</div>
                    <div class="order-status-icon">
                        <i class="flaticon-success-1"></i>
                    </div>
                    <div>Your order number <span class="bolder-text">#243</span> has been sent</div>
                    <div>Your payment was successfull, please wait for delivery</div>
                </div>
                <div class="cart-total"><span>For assistance, please call <br /></span>+998 71 552 0303</div>
                <div class="proceed-checkout" ui-sref="app.mainPage">Back To Main Page
                    <i class="flaticon-right-arrow"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>