<div class="bar-stable">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center" ng-if="!cliMapPresent">
        <button ui-sref="app.mainPage" class="button back-button buttons button-clear header-item">
            <i class="flaticon-left-arrow"></i> 
            <span class="back-text">
                <div class="default-title medicine-search-title">Поиск учреждений</div>
                <span class="previous-title hide"></span>
            </span>
        </button>

        <button class="button header-right-button-1 buttons button-clear header-item" ng-click="openFilter()" ng-class="filterOpen ? 'filterOpen' : ''"><i class="flaticon-filter"></i> 
        </button>

        <!--<button class="button header-right-button buttons button-clear header-item" ui-sref="app.myCart"><i class="flaticon-shopping-cart"></i> <span class="order-count"><span>{{cartData.length}}</span></span>
        </button>-->
    </ion-header-bar>

    <ion-header-bar class="bar-stable bar bar-header" align-title="center" ng-if="cliMapPresent">
        <button ng-click="showMapMed()" class="button back-button buttons button-clear header-item">
            <i class="flaticon-left-arrow"></i> 
            <span class="back-text">
                <div class="default-title medicine-search-title">Назад</div>
                <span class="previous-title hide"></span>
            </span>
        </button>
    </ion-header-bar>
    
    
    
</div>
<ion-view view-title="Search" animation="no-animation">
    <ion-content class="no-header">

        
        
            <!--  MAP DIV TO SHOW THE PHARMACY LOCATION  -->
            <div class="medicineMapView" style="height:100%">
                <ng-map ng-if="singleView" default-style="false" center="{{singlePosition}}" zoom="12" style="height:100% !important; width:100%;">
                    <marker id="foo" position="{{singlePosition}}" on-click="map.showInfoWindow(event, 'bar')">
                    </marker>
                    <!-- <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>-->
                    <custom-marker id="can" position="current" on-click="click()">
                        <div>
                            <img src="img/map-icon.png" width="40" height="40" />
                        </div>
                    </custom-marker>
                    <info-window id="bar" max-width="200">
                        <div ng-non-bindable>
                            <div id="siteNotice"></div>
                            <div id="bodyContent">
                                <p>
                                    <b>{{clinicName}}</b>
                                </p>
                            </div>
                        </div>
                    </info-window>
                </ng-map>
                
                 <!--  MAP DIV TO SHOW ALL PHARMACIES BY MAP  -->
                <ng-map ng-if="!singleView" default-style="false" center="tashkent" zoom="11" style="height:100% !important; width:100%;">
                    <!--<marker id="foo" position="41.2627976,69.2295227" on-click="map.showInfoWindow(event, 'bar')">
                    </marker>-->
                    <marker id="marker-{{$index}}" ng-repeat="p in clinics" position="{{p.lat}}, {{p.lng}}"></marker>

                    <!-- <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>-->
                    <custom-marker id="can" position="current" on-click="click()">
                        <div>
                            <img src="img/map-icon.png" width="40" height="40" />
                        </div>
                    </custom-marker>
                    <info-window id="bar" max-width="200">
                        <div ng-non-bindable>
                            <div id="siteNotice"></div>
                            <div id="bodyContent">
                                <p>
                                    <b>{{clinicName}}</b>
                                </p>
                            </div>
                        </div>
                    </info-window>
                </ng-map>
            <!-- END OF MAP SHOW   -->
                
            </div>
            <!-- END OF MAP SHOW   -->
        
        
        <div class="ma-results clinic-results">
            <div class="result-header-wrapper">
                <div class="ma-search-name ma-search-name-left">
                    <span><!--{{'selectedMedicine.name'}}--> Kardiologiya</span>
                </div>
                <div class="search-by-map" ng-click="showMapAll()">Поиск по <br/> карте
                    <i class="flaticon-placeholder">
                        <!--<img width="20" height="20" src="http://www.iconarchive.com/download/i89683/alecive/flatwoken/Apps-Google-Maps.ico" />-->
                    </i>
                </div>
            </div>
            
            <!-- FILTER DIV-->
            <div class="list list-inset ma-filters">
                <div class="filter-panes">
                    <ion-item class="item filter-titles" ng-click="toggleFilterPharmacy()">
                        &nbsp; Выбор учреждений <i class="icon" ng-class="isDisplayPharmacy ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    </ion-item>
                    <ion-item class="item-accordion-filter-pharmacy">
                        <ion-list>
                            <ion-checkbox ng-model="phoxymed">Сеть учреждений StarMed</ion-checkbox>
                            <ion-checkbox ng-model="phddarmon">Сеть учреждений Clinic</ion-checkbox>
                            <ion-checkbox ng-model="phdavo">Сеть учреждений TashMed</ion-checkbox>
                        </ion-list>
                    </ion-item>

                </div>

                <div class="filter-panes">
                    <ion-item class="item filter-titles" ng-click="toggleFilterPlace()">
                        &nbsp; Сортировка по удаленности <i class="icon" ng-class="isDisplayPlace ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    </ion-item>
                    <ion-item class="item-accordion-filter-place" style="display:none">
                        {{item}}
                    </ion-item>
                </div>
                <div class="apply-filter-button" ng-click="applyFilters()">
                    ПРИМЕНИТЬ
                </div>
            </div>
            
            <div class="loading-spin" ng-if="clinicLoading"><i class="fa fa-spinner fa-spin"></i></div>
            <div class="ma-results-wrapper">
                <div class="medicine-result" ng-repeat="cli in clinics">
                    <div class="mr-top">
                        <img width="60" height="60" class="product-photo" ng-src="{{'http://medappteka.uz'+cli.photo}}" />
                        <div class="product-info">
                            <div>Наименование: <span>{{cli.name}} </span></div>
                            <div>Адрес: <span>{{cli.address}} </span></div>
                            <div>Ориентир: <span>{{cli.reference_point}}</span></div>
                            <div>Специализации: <span>{{cli.specialization}}</span></div>
                        </div>
                    </div>
                    <div class="mr-bottom">
                        <ul>
                            <li class="button button-light map-button" ng-click="showMapMed(cli)" ><i class="flaticon-placeholder" style="bottom:3px"></i> Карта</li>
                            <li class="button button-positive call-button" ng-click="callClinic(cli)"><i class="flaticon-call-answer" style="bottom:3px"></i> Позвонить </li>
                            <li class="button button-energized more-button" ng-click="go(cli.id)">Подробнее</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>