<div class="bar-stable">
  <ion-header-bar class="bar-stable bar bar-header main-page-titlee" align-title="center">
    <div></div> <br>
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" ui-sref="app.profile">
        </button>
      </span>
    </div>
    <div class="header-img-class"> <img width="200" src="img/logo_medd.png">
      <!--{{'main_page_title' | translate}}  title title-center header-item-->
    </div>

    <!--<select class=" header-right-button" ng-model="language"  ng-change="updateLang(language)">
                 <option value="uz">UZ</option>
                 <option value="ru">RU</option>
             </select>-->

  </ion-header-bar>
</div>
<ion-view view-title="Поисковик лекарств" animation="no-animation">
  <ion-content>

    <div class="ma-main-title">
      <!--
            <button ng-click="updateLang('ru')">Rus</button>
-->
      <!--<img src="img/logo_medd.png">-->
      <!--
            <button ng-click="updateLang('uz')">Uz</button>
-->
      <img src="css/fonts/fa/ajax_loading.gif" style="width: 100px;" alt="" ng-show="gettingBanners" style="margin-top:20px;"> <!---->
      <div class="fade" style="margin-bottom:25px;">

        <!--<div class="box">slider="data.sliderDelegate" autoplay="2000" loop="true"
                            {{banner.name}}
                        </div>-->
        <!-- <div class="banner-class">
          <a ng-repeat="banner in banners" href="{{banner.name}}" style="display: block;height: 100%;">
                            <img ng-src="{{'http://medappteka.uz'+banner.photo}}" alt="">
                        </a>
        </div>-->
        <slick infinite="true" autoplay="true" slides-to-show="1" slides-to-scroll="1" settings="slickConfig" data="images" ng-if="images.length" style="margin-top: 20px;">
          <div class="slick-item" ng-repeat="image in images">
            <a href="{{image.name}}" style="display: block;height: 100%;">
              <img ng-src="{{'http://medappteka.uz'+image.photo}}" alt="">
            </a>
          </div>
        </slick>
      </div>
    </div>

    <form>

      <ion-toolbar>
        <div class="ma-search-where">
          <div>
            <div class="list input-item">
              <div class="search-div">
                <h4 class="ma-search-title">{{'where_ts' | translate}}</h4>
                <i class="ion-android-close" ng-click="searchPlace=''"></i>
                <input type="text" placeholder="{{'where_ts_pl' | translate}}" ng-model="searchPlace" uib-typeahead="dist as dist.name for dist in districts | filter:$viewValue" typeahead-focus-first="true" style="width:100%" />
              </div>
            </div>
          </div>
        </div>

        <div class="ma-search-what">

          <div class="search-div">
            <h4 class="ma-search-title">{{'what_ts' | translate}}</h4>

            <div class="button-bar">
              <div class="button-blue-active" ng-class="{'button-blue-clinic': isActive('clinic')}"></div>
              <button type="button" ng-class="{'button-positive': isActive('medicine')}" class="button button-first" ng-click="setActive('medicine')">{{'what_ts_med' | translate}} </button>
              <button type="button" ng-class="{'button-positive': isActive('clinic')}" class="button" ng-click="setActive('clinic')">{{'what_ts_cli' | translate}} </button>
            </div>
            <!--ng-class="{'button-positive': isActive('clinic')}" -->
            <div class="list input-item">
              <div class="ma-typeahead-input" ng-style="isActive('clinic') ? { 'margin':'0'} : { 'margin':'0'}">
                <div ng-if="isActive('medicine')" class="what-to-search">
                  <input type="text" placeholder="{{'what_ts_pl1' | translate}}" required ng-model="selectedMedicine" uib-typeahead="med as med.name for med in fetchdata($viewValue)" typeahead-focus-first="true" typeahead-on-select="setMedicine(selectedMedicine);" ng-required="isActive('medicine')" />
                  <i class="ion-android-close" ng-click="selectedMedicine='';setMedicine('')"></i>
                </div>
                <!-- typeahead-wait-ms="1000"-->

                <div ng-if="isActive('clinic')" class="what-to-search">
                  <input type="text" placeholder="{{'what_ts_pl2' | translate}}" required ng-model="selectedClinic" uib-typeahead="cli as cli.name for cli in specializations | filter:$viewValue | limitTo:10" typeahead-focus-first="true" typeahead-on-select="setClinic(selectedClinic);" ng-required="isActive('clinic')" /> <i class="ion-android-close" ng-click="selectedClinic='';setClinic('')"></i>
                </div>
              </div>
              <!--<pre>{{medicines | json}}</pre>-->

            </div>
          </div>
        </div>
        <div class="ma-search-button">
          <button class="search-button" ng-click="submitSearch(searchPlace)" ng-disabled="!selectedMedicine && !selectedClinic">
                        <a class="search-button">{{'what_ts_med_find' | translate}}</a>
                    </button>
        </div>
      </ion-toolbar>
    </form>

  </ion-content>
</ion-view>