<div class="bar-stable">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" ui-sref="app.profile">
        </button>
      </span>
        </div>
        <div class="title title-center header-item"> Поисковик лекарств
        </div>
    </ion-header-bar>
</div>
<ion-view view-title="Поисковик лекарств" animation="no-animation">
    <ion-content>

        <div class="ma-main-title">
            <img src="img/logo_medd.png">
        </div>

        <form>

            <ion-toolbar>
                <div class="ma-search-where">
                    <div></div>

                    <fieldset>
                        <legend class="ma-search-title">Где искать?</legend>
                        <div class="list input-item">
                            <label class="item item-input">
                                <input type="text" placeholder="вводите название района" ng-model="searchPlace" /> <i class="ion-android-close" ng-click="searchPlace=''"></i>
                            </label>
                            <!-- <pre>{{medicines}}</pre>-->
                            <!--<span ng-repeat="med in medicines">{{med.price}}</span>-->

                        </div>
                        <div class="list">
                            <ion-checkbox ng-model="filter.red">Search nearby me</ion-checkbox>
                            <label></label>
                        </div>
                    </fieldset>
                </div>
                <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->


                <div class="ma-search-what">

                    <fieldset>
                        <legend class="ma-search-title">Что искать?</legend>

                        <div class="button-bar">
                            <div class="button-blue-active"  ng-class="{'button-blue-clinic': isActive('clinic')}"></div>
                            <button type="button" ng-class="{'button-positive': isActive('medicine')}" class="button button-first" ng-click="setActive('medicine')">Лекарство </button>
                            <button type="button" ng-class="{'button-positive': isActive('clinic')}" class="button" ng-click="setActive('clinic')">Учреждение </button>
                        </div>
<!--ng-class="{'button-positive': isActive('clinic')}" -->
                        <div class="list input-item">
                            <div class="ma-typeahead-input" ng-style="isActive('clinic') ? { 'margin':'0 10px'} : { 'margin':'0 30px'}">
                                <div ng-if="isActive('medicine')" class="what-to-search">
                                    <input type="text" placeholder="{{productPlaceholder}}" required ng-model="selectedMedicine" uib-typeahead="med as med.name for med in medicines | filter:$viewValue" typeahead-focus-first="true" typeahead-on-select="setMedicine(selectedMedicine);" ng-required="isActive('medicine')" /> <i class="ion-android-close" ng-click="selectedMedicine='';setMedicine('')"></i>
                                </div>

                                <div ng-if="isActive('clinic')" class="what-to-search">
                                    <input type="text" placeholder="{{productPlaceholder}}" required ng-model="selectedClinic" 
									uib-typeahead="cli as cli.name for cli in specializations | filter:$viewValue" 
									typeahead-focus-first="true" typeahead-on-select="setClinic(selectedClinic);"	   
									ng-required="isActive('clinic')" 	   /> <i class="ion-android-close" ng-click="selectedClinic='';setClinic('')"></i>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="ma-search-button">
                    <button class="search-button" ng-click="submitSearch()" ng-disabled="!selectedMedicine && !selectedClinic">
                        <a class="search-button">НАЙТИ</a>
                    </button>
                    <div class="contact-info">
                        <div class="contact-num">3713836</div>
                        <span>Cправочная Cлужба</span>
                    </div>
                </div>
            </ion-toolbar>
        </form>

    </ion-content>
</ion-view>