 <ion-modal-view>
        <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <button  class="button back-button buttons button-clear header-item" ng-click="closeModal()"><i class="icon ion-ios-arrow-back"></i> 
      <span class="back-text"><span class="default-title">Poisk Po Karte</span><span class="previous-title hide"></span></span></button>

        <button class="button header-right-button-1 buttons button-clear header-item" ng-click="openFilter()" ng-class="filterOpen ? 'filterOpen' : ''"><i class="fa fa-filter"></i> 
        </button>

        <button class="button header-right-button buttons button-clear header-item"><i class="ion-ios-cart"></i> 
        </button>


    </ion-header-bar>
        <ion-content class="padding">
          <div id="map">
          </div>
        </ion-content>
      </ion-modal-view>