<div class="bar-stable">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <button ui-sref="app.mainPage" class="button back-button buttons button-clear header-item"><i class="flaticon-left-arrow"></i> 
      <span class="back-text"><div class="default-title medicine-search-title">Medicine search</div><span class="previous-title hide"></span></span></button>

        <button class="button header-right-button-1 buttons button-clear header-item" ng-click="openFilter()" ng-class="filterOpen ? 'filterOpen' : ''"><i class="flaticon-filter"></i> 
        </button>

        <button class="button header-right-button buttons button-clear header-item" ui-sref="app.myCart"><i class="flaticon-shopping-cart"></i> <span class="order-count"><span>{{cartData.length}}</span></span>
        </button>


    </ion-header-bar>
</div>
<ion-view view-title="Search" animation="no-animation">
    <ion-content class="no-header">
        <div class="ma-results">
            <div class="result-header-wrapper">
                <i class="ion-ios-search-strong"></i>
                <div class="ma-search-name">
                    <span>{{selectedMedicine.name}}</span>
                </div>
            </div>
            <!-- FILTER DIV-->
            <div class="list list-inset ma-filters">
                <div class="filter-panes">
                    <ion-item class="item filter-titles" ng-click="toggleFilterPharmacy()">
                        &nbsp; Choose Pharmacy <i class="icon" ng-class="isDisplayPharmacy ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    </ion-item>
                    <ion-item class="item-accordion-filter-pharmacy">
                        <ion-list>
                            <ion-checkbox ng-model="phoxymed">Pharmacy line OxyMed</ion-checkbox>
                            <ion-checkbox ng-model="phddarmon">Pharmacy Dori Darmon</ion-checkbox>
                            <ion-checkbox ng-model="ph999">Pharmacy 999</ion-checkbox>
                            <ion-checkbox ng-model="phdavo">Pharmacy line DAVO</ion-checkbox>
                            <ion-checkbox ng-model="phedelves">Pharmacy line Edelves</ion-checkbox>
                        </ion-list>
                    </ion-item>

                </div>

                <div class="filter-panes">
                    <ion-item class="item filter-titles" ng-click="toggleFilterPrice()">
                        &nbsp; Price Range <i class="icon" ng-class="isDisplayPrice ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    </ion-item>
                    <ion-item class="item-accordion-filter-price" style="display:none">
                        <ion-list>
                            <ion-checkbox ng-model="ph1">500 - 10.000</ion-checkbox>
                            <ion-checkbox ng-model="ph2">10.000 - 100.000</ion-checkbox>
                            <ion-checkbox ng-model="ph3">100.000 - 300.000</ion-checkbox>
                            <ion-checkbox ng-model="ph4">300.000 - 500.000</ion-checkbox>
                            <ion-checkbox ng-model="ph5">500.000 - up</ion-checkbox>
                        </ion-list>
                    </ion-item>
                </div>

                <div class="filter-panes">
                    <ion-item class="item filter-titles" ng-click="toggleFilterPlace()">
                        &nbsp; Destination <i class="icon" ng-class="isDisplayPlace ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                    </ion-item>
                    <ion-item class="item-accordion-filter-place" style="display:none">
                        {{item}}
                    </ion-item>
                </div>
                <div class="apply-filter-button" ng-click="applyFilters()">
                    ACCEPT
                </div>
            </div>

            <!-- END OF FILTER DIV-->

            <div class="ma-results-wrapper">
                <div class="medicine-result" ng-repeat="med in medicines">
                    <input type="text" style="display:none" ng-model="$index">
                    <div class="mr-top">
                        <img width="60" height="60" class="product-photo" src="{{med.ph_image}}" />
                        <div class="product-info">
                            <div>Manufacturer: <span>{{med.manufacturer}} </span></div>
                            <div>Address: <span>{{med.address}} </span></div>
                            <div>Orientir: <span>{{med.orientir}}</span></div>
                        </div>
                    </div>
                    <div class="mr-bottom">
                        <ul>
                            <li class="button button-light map-button" ng-click="openModal()"><i class="flaticon-placeholder"></i> Kарта</li>
                            <li class="button button-positive call-button"><a href="tel:{{med.ph_phone}}"><i class="flaticon-call-answer"></i> Позвонить</a> </li>
                            <li class="button button-energized price-button" ng-if="!med.added_to_cart" ng-click="addToCart($index, med)" >
                                <i class="flaticon-shopping-cart" ></i> 
                                {{med.price}} <span class="sum">сум</span>
                            </li> 
                            
                            <li class="button button-energized price-button" ng-if="med.added_to_cart" ng-click="removeFromCart($index, med)" >
                                <i class="flaticon-success-1" ng-if="med.added_to_cart" style="color:forestgreen"></i>
                                {{med.price}} <span class="sum">сум</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>