.profile-content > div {
    height: 100%;
}

.contact-info {
    margin: 25px 0;
    margin-top: 10px;
    .contact-num {
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 5px;
        color: $secondary-green;
    }
}

@media only screen and (max-width:340px){
  .ma-profile-info {
        margin: 10px 0 !important;
  }
}

.social-icons {
    img {
        margin: 0 10px;
    }
}

.ma-menu {
    padding: 20px;
    .ma-menu-profile {
        min-height: 80px;
    }
    img {
        border-radius: 50px;
        float: left;
        margin-bottom: 10px;
    }
    .sign-out-btn {
        // margin-top: -20px;
        //margin-bottom: 15px;
        font-weight: 300;
        clear: both; //text-align: center;
        a {
            /*color: #444;
            font-size: 16px;
            font-weight: 400;
            margin-left: 15px;
            font-weight: 600;*/
        }
        i {
            font-size: 24px;
            margin-top: 5px;
            padding: 0;
            position: relative;
            top: 5px;
            color: $primary-blue;
        }
    }
    .ma-profile-info {
        float: left;
        margin: 10px;
        margin-bottom: 0px;
        .profile-info {
            padding: 0;
            font-weight: 500;
            font-size: 17px;
        }
        .profile-name {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0;
            margin: 5px;
            margin-left: 0;
        }
        .fa-sign-out {}
    }
    .ma-menu-list {
        clear: both;
        border-top: 1px solid $primary-grey;
        text-align: left;
        padding: 15px;
        li {
            padding: 15px 0;
            a {
                text-decoration: none;
            }
            i {
                font-size: 24px; //float: left;
                color: $primary-blue;
            }
            .menu-li {
                font-size: 18px;
                color: #444;
                margin-left: 15px;
                font-weight: 600;
                position: relative;
                bottom: 2px;
            }
        }
    }
}

.ionic_datepicker_popup .popup-body .selected_date_full,
.ionic_datepicker_popup .popup-buttons button,
.ionic_datepicker_popup .selected_date {
    background-color: $primary-blue !important;
}

.ma-profile-edit {
    .item-input {
        padding-left: 5px;
        input {
            padding-right: 5px !important;
            font-size: 16px;
            height: 100%;
        }
    }
    .apply-filter-button {
        display: flex;
        button {
            flex-grow: 1;
            margin: 5px;
            height: 40px;
            color: #fff;
            border: none;
            border-radius: 5px;
            background-color: $primary-blue;
            font-size: 16px;
        }
    }
}

.about-app {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    //height: 100%;
    margin-bottom: 12px;
    .absolute-bottom {
        position: relative;
        bottom: 0;
        
    }
}

.order-accepted {
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-size: 16px;
    .order-status {
        font-weight: 600;
    }
    .order-status-icon {
        height: 120px;
        position: relative;
        margin-top: 100px;
        i {
            font-size: 140px;
            display: inline-block;
            position: relative;
            color: #27ae60;
        }
    }
}

.ma-my-cart {
    .price-button {
        text-align: center !important;
    }
}

.single-clinic {
    margin-bottom: 15px;
    .single-clinic-wrapper {
        border: .1px solid #e3e0e5;
        margin-top: 5px;
        border-radius: 3px;
    }
    .singleClinic-result {
        background-color: #fff;
        top: -10px;
        position: relative;
        padding: 15px;
        .singleClinic-photo {
            float: left;
            margin-right: 20px;
        }
    }
    .singleClinic-info {
        padding: 3px;
    }
    .singleClinic-about {
        padding: 15px;
        background-color: #fff;
    }
    .see-all-contacts {
        text-align: center;
        margin-bottom: 15px;
    }
    .first-button {
        background-color: $primary-orange;
        padding: 3px;
        margin-left: 0 !important;
      border-radius: 2px;
    }
    .second-button {
        height: 26px;
        transform: translateY(42%);
        position: relative;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .mr-bottom {
        margin: 10px 0 0 0 !important;
      background-color: #fff;
      padding: 0 15px;
    }
}

.my-orders {
    .completed-button {
        i {
            color: #27ae60;
        }
        color: #27ae60;
        border: none;
    }
    .waiting-button {
        i {
            color: #e8e129
        }
        color: #e8e129;
        border: none;
    }
    .canceled-button {
        i {
            color: #d10a14;
        }
        color: #d10a14;
        border: none;
    }
}


/* slick css*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
