.back-text,
.ion-ios-arrow-back {
    color: #fff;
}

.back-text {
    padding-left: 10px;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.medicine-search-title,
.default-title {
    font-weight: 400;
    font-size: 20px;
}

.ma-results {
    .result-header-wrapper {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid $primary-grey;
        display: block;
        padding-bottom: 10px;
        clear: both;
        min-height: 75px;
        .ion-ios-search-strong {
            float: left;
            font-size: 24px;
        }
        .ma-search-name {
            text-align: center; //font-size: 18px;
            //display: inline-block;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: rgb(48, 48, 48); //font-family: "Gotham Pro";
            &.ma-search-name-left {
                text-align: left;
                display: inline-block;
                width: 60%;
            }
        }
        .search-by-map {
            display: inline-block;
            border: 1px solid #e3e0e5;
            border-radius: 5px;
            float: right;
            padding: 3px 6px;
        }
    }
    .ma-filters {
        display: none;
        .filter-panes {
            margin: 15px 0;
            .filter-titles {
                background-color: #fff;
                border-radius: 5px; //font-family: "Gotham";
                font-weight: 500;
                z-index: 20;
                i {
                    font-size: 24px;
                    position: absolute;
                    right: 20px;
                }
            }
            .item-accordion-filter,
            /*.item-accordion-filter-pharmacy*/
                {
                display: none;
                position: relative;
                top: -4px;
                z-index: 10;
            }
            .item-accordion-filter-pharmacy,
            .item-accordion-filter-price,
            .item-accordion-filter-place {
                // display:none;
                position: relative;
                top: -4px;
                z-index: 10;
                .list {
                    border: none;
                    .item {
                        border: none;
                    }
                }
            }
        }
        .apply-filter-button {
            background-color: #fff;
            border-radius: 5px; //font-family: "Gotham";
            font-weight: 500;
            /* z-index: 20; */
            text-align: center;
            padding: 16px;
            background: $primary-blue;
            color: #fff;
            margin: 0 10px;
            flex-grow: 1;
        }
    }
    .ma-results-wrapper {
        margin: 0 10px;
        .medicine-result {
            border: 1px solid $primary-grey;
            border-radius: 5px;
            margin: 10px 0;
            .product-photo {
                float: left;
                margin: 5px;
                margin-left: 8px;
            }
            .product-info {
                margin: 5px;
                margin-left: 85px; //float: left;
                div {
                    color: $secondary-grey;
                    span {
                        color: #414141;
                        font-weight: 600;
                    }
                }
            }
        }
        .mr-bottom {
            clear: both;
            margin: 3px;
            padding-top: 10px;
            ul {
                width: 100%;
                display: flex;
            }
            li {
                display: inline;
                min-width: 23.3%;
                flex-grow: 1;
                margin: 0 3px;
                &.map-button {
                    width: 75px;
                    max-width: 80px;
                    padding: 4px 8px;
                    margin-left: 0;
                    font-weight: 500;
                    font-size: 15px;
                    padding-left: 22px;
                }
            }
            .button {
                min-width: auto;
                min-height: auto;
                line-height: 100%;
                border-radius: 5px;
                padding: 4px 16px;
                &.button-positive {
                    background-color: $primary-blue;
                }
                &.call-button {
                    width: 115px;
                    max-width: 125px;
                    padding: 4px;
                    padding-left: 20px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                &.price-button {
                    font-weight: 600;
                    font-size: 14px;
                    text-align: center;
                    padding-right: 4px;
                    margin-right: 0;
                    .sum {
                        font-weight: 300;
                        font-size: 12px;
                        color: $secondary-grey;
                    }
                }
                i {
                    position: absolute;
                    font-size: 16px;
                    left: 5px;
                    bottom: 5px;
                }
            }
            .button-light {
                border: 1px solid $primary-grey;
            }
        }
    }
}

.half-size {
    float: left;
    width: 50%;
}

.price-button {
    color: #000 !important;
}

.ma-my-cart {
    .medicine-result.ng-enter,
    .medicine-result.ng-leave {
        -webkit-transition: 0.5s linear all;
        transition: 0.5s linear all;
    }
    .medicine-result.ng-enter,
    .medicine-result.ng-leave.ng-leave-active {
        opacity: 0;
        height: 0px;
    }
    .medicine-result.ng-leave,
    .medicine-result.ng-enter.ng-enter-active {
        opacity: 1;
        height: 217px
    }
    .med-quantity {
        .list {
            padding: 2px;
            .item-input {
                border: none;
                padding: 0;
                .input-label {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .cart-subtotal {
                font-weight: 500;
                font-size: 14px;
                span {
                    font-weight: 700;
                    font-size: 14px;
                }
            }
            .quantity-select {
                padding-left: 0;
                padding-right: 32px;
                border: 1px solid $primary-grey;
                border-radius: 5px;
            }
        }
        .item {
            padding: 5px;
        }
    }
    .remove-order {
        float: right;
        margin: 10px;
        margin-right: 0;
        padding: 8px;
        border-radius: 5px;
        background-color: red;
        color: #fff;
        font-weight: 400;
    }
    .cart-total {
        text-align: center;
        padding: 10px;
        font-weight: 700;
        font-size: 16px; //font-family: "Gotham";
        margin: 20px 8px;
        span {
            font-weight: 400;
            color: #444;
        }
    }
    .proceed-checkout {
        background-color: #27ae60;
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding: 12px; //font-family: "Gotham";
        font-weight: 600;
        border-radius: 5px;
        position: relative;
        margin-bottom: 25px;
        width: 100%;
        border: none;
        i {
            font-size: 22px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-weight: 200;
        }
    }
}

.clinic-results {
    .loading-spin {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
    }
    .mr-bottom ul i {
        left: 4px !important;
    }
    .more-button {
        padding: 4px !important;
        margin-right: 0 !important;
    }
}

.medicineMapView {
    height: 100%;
    position: fixed;
    width: 100%;
    left: 100%;
    transition: .5s;
    z-index: 99;
    top: 0;
    &.medicineMapPresent {
        left: 0% !important;
        transition: .5s;
    }
    ng-map {
        height: 100% !important;
    }
}

.ma-my-checkout {
    input[type="text"] {
        color: #444; // min-height: 36px;
        // padding-top: 5px;
    }
    .ma-checkout-wrapper {
        margin: 10px;
    }

    .buyer-info-address {
        input {
            color: #444;
            height: 100%;
            font-size: 16px;
            padding: 7px;
            padding-left: 0;
        }
    }
    .buyer-info {
        background-color: #fafbfd;
        padding: 10px 0;
        border-radius: 5px;
        .buyer-info-header {
            padding-left: 13px;
            color: $primary-blue;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 10px;
            padding-top: 5px;
            i {
                position: absolute;
                right: 20px;
                color: $secondary-grey;
            }
        }
        .list {
            text-align: center;
            width: 100%;
            .item-input {
                //width: 45%;
                //display: inline-block;
                border: none;
                border-bottom: 1px solid $primary-grey;
                padding-left: 3px;
                padding-bottom: 0;
                margin: 10px;
                background-color: #fafbfd;
                padding-top: 0;
                input {
                    color: #444; //min-height: 36px;
                    height: 100%;
                    font-size: 16px;
                    padding: 7px;
                    padding-left: 0;
                }
            }
        }
    }
    .buyer-info-address,
    .buyer-info-payment-type,
    .buyer-info-delivery {
        background-color: #fafbfd;
        padding: 10px 0;
        border-radius: 5px;
        margin: 10px 0;
        .list {
            width: 100%;
        }
        .item-input {
            border: none;
            border-bottom: 1px solid $primary-grey;
            padding-left: 3px;
            padding-bottom: 0;
            margin: 1px 10px;
            background-color: #fafbfd;
        }
        .buyer-info-header,
        .buyer-info-header-payment {
            padding-left: 13px;
            color: $primary-blue;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 10px;
            padding-top: 5px;
            i {
                position: absolute;
                right: 20px;
                color: $secondary-grey;
            }
        }
        .debit-card {
            background-color: $primary-blue;
            padding: 10px;
            border-radius: 5px;
            .debit-card-top {
                display: flex;
                margin: 10px 0;
                span {
                    width: 20%;
                }
                .debit-num {
                    flex-grow: 1;
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 5px 6px;
                    border-radius: 5px;
                    margin: 0 5px;
                    font-size: 18px;
                    text-align: center;
                }
            }
            .debit-date {
                width: 80% !important;
            }
        }
        .buyer-info-detail-delivery,
        .buyer-info-payment {
            .list {
                .item-content {
                    white-space: normal;
                }
                .item-checkbox {
                    border: none;
                    background: transparent;
                    font-weight: 400;
                    font-size: 14px;
                    padding-top: 10px;
                    padding-left: 50px;
                }
                .checkbox-icon {
                    width: 20px;
                    height: 20px;
                    &:after {
                        opacity: 0;
                    }
                }
                input[type="radio"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 15px;
                    height: 16px;
                    border: none;
                    border-radius: 50%;
                    background-color: transparent;
                    outline: 0;
                    padding: 0; //position: relative;
                    //top: 3px;
                }
                input[type="radio"]:checked {
                    background-color: $primary-blue;
                }
                .delivery-radio {
                    padding: 2px;
                    border: 1px solid $primary-blue;
                    border-radius: 50%;
                    position: relative;
                    width: 21px;
                    margin-right: 10px;
                    height: 22px;
                    float: left;
                }
                .del-radio-wrapper {
                    margin: 15px 0;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .proceed-checkout {
        background-color: #27ae60;
        text-align: center;
        color: #fff;
        font-size: 18px;
        padding: 12px; //font-family: "Gotham";
        font-weight: 600;
        border-radius: 5px;
        position: relative;
        margin-bottom: 25px;
        width: 100%;
        border: none;
        i {
            font-size: 22px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-weight: 200;
        }
    }
    .cart-total {
        text-align: center;
        padding: 10px;
        font-weight: 700;
        font-size: 17px; //font-family: "Gotham";
        margin: 20px 0;
        display: flex;
        div {
            flex-grow: 1;
            text-align: left;
        }
        span {
            font-weight: 600;
            color: #444;
        }
    }
}

.bolder-text {
    font-weight: 600;
    color: #444;
}

.refreshOrder {
    margin: 5px;
    margin-top: 10px;
    text-align: right;
    button {
        margin-top: 5px;
    }
}

.single-order {
    ul {
        display: block !important;
        text-align: right;
        li {
            flex-grow: 0;
        }
    }
}

.myOrderInfo {
    font-size: 17px;
    margin: 5px 0;
}

@media (min-width: 500px) {

    .bar-header.bar-stable {
        .title {
            font-size: 26px !important;
        }
        select {
            font-size: 21px !important;
        }

        .header-right-button-1 {
            right: 65px !important;
            i {
                font-size: 30px !important;
            }
        }

        .button.button-clear {
            i {
                font-size: 30px !important;
            }
            .order-count {
                height: 22px !important;
                width: 22px !important;
                span {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }

    }

    .ma-menu .profile-name {
        font-size: 24px !important;
    }

    .ma-menu .ma-menu-list li {
        .menu-li {
            font-size: 22px !important;
        }
        i {
            font-size: 28px !important;
        }
    }

    .search-by-map {
        font-size: 20px !important;
        padding: 10px !important;
    }

    .ma-results .ma-results-wrapper .medicine-result {
        width: 65% !important;
        margin: 18px auto !important;

        .product-photo {
            height: 90px !important;
            width: 90px !important;
            margin-right: 15px;
        }

        .mr-bottom i {
            font-size: 20px !important;
        }
        .product-info div {
            font-size: 20px !important;
            margin: 10px 15px !important;
        }
        .button.call-button {
            font-size: 20px !important;
            max-width: 170px !important;
        }

        li.map-button {
            width: 90px !important;
            max-width: 110px !important;
            font-size: 20px !important;
        }

        .price-button {
            font-size: 20px !important;
        }
        .med-quantity {
            .input-label,
            .cart-subtotal,
            span,
            .cart-total {
                font-size: 18px !important;
            }
        }
    }
    .cart-total {
        font-size: 18px !important;
    }
    .proceed-checkout {
        font-size: 22px !important;
    }

    .ma-search-button {
        margin: 20px 60px !important;
    }

    .ma-search-what {
        margin: 10px 60px !important;
        input {
            font-size: 20px !important;
            ;
        }
        legend {
            font-size: 24px !important;
            ;
        }
        .button-bar {
            .button {
                font-size: 24px !important;
                ;
                line-height: 28px !important;
                ;
            }
            .button-first {
                max-width: 200px !important;
                ;
            }
        }
    }
    .ma-search-where {
        margin: 10px 60px !important;
        .input-item input {
            font-size: 20px !important;
            ;
        }
        legend {
            font-size: 24px !important;
            ;
        }
        /* margin-top: -10px; */
    }

    .ma-profile-edit {
        margin: 10px 70px !important;
        .input-label {
            font-size: 20px !important;
        }

        .item-input input {
            font-size: 20px !important;
        }
        #my_photo {
            font-size: 20px;
        }
    }
    .apply-filter-button button {
        font-size: 22px !important;
    }

    .ma-my-checkout {
         input[type="text"], .checkout-sub-total {
        font-size: 20px !important; // min-height: 36px;
        // padding-top: 5px;
    }
        .ma-search-name {
            font-size: 24px !important;
            margin-top: 10px !important;
        }
        .buyer-info-header,
        .buyer-info-header-payment {
            font-size: 22px !important;
        }

    }
     .delivery-text {
        font-size: 20px !important;
        top: -4px !important;
        position: relative !important;
    }
}