/* Empty. Add your own CSS if you like */

$primary-blue: #2da5e1;
$primary-green: #44e03e;
$primary-orange: #ffc12f;
$secondary-green: #28ba23;
$primary-grey: #e3e0e5;
$secondary-grey: #878787;
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/gotham/black/GothamProBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/gotham/600/GothamPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/gotham/500/GothamProRegular.ttf') format('truetype');
}

.bar-header.bar-stable {
    padding-top: 10px !important;
    height: 60px !important;
}

.bar-header.bar-stable .title {
    position: relative;
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/gotham/300/GothamProLight.ttf') format('truetype');
}

body,
input,
button,
select {
    font-family: 'Gotham' !important;
}

.loading-container {
    .loading {
        padding: 15px;
        ion-spinner {
            font-size: 30px;
        }
    }
}

$font-family-base: "Gotham";
.pull-right {
    float: right;
}

ion-content {
    top: 90px !important;
}

.view-container {}

.bar {
    height: 50px;
}

div.bar-stable {
    height: 70px !important;
    background: $primary-blue !important;
    z-index: 99999 !important;
    position: absolute !important;
    width: 100% !important;
}

.bar-header.bar-stable {
    // styling for header
    margin-top: 25px !important;
    background-color: $primary-blue;
    .filterOpen {
        border-radius: 50%;
        background-color: #fff;
        i {
            color: $primary-blue !important;
        }
    }
    .order-count {
        height: 18px;
        width: 18px;
        position: absolute;
        font-size: 14px;
        color: #000;
        top: 3px;
        right: 3px;
        border-radius: 10px;
        background-color: $primary-orange;
        span {
            position: relative;
            top: -8px;
        }
    }
    .title {
        color: #fff;
        font-size: 18px;
        line-height: 34px;
        color: rgb(255, 255, 255); //font-family: 'Gotham';
        font-weight: 400;
        text-align: center;
        padding: 6px 0;
        margin: 0;
    }
    .button.button-icon {
        color: #fff;
    }
    .button.button-clear {
        font-size: 22px;
        letter-spacing: 0;
        line-height: 34px;
       color: #fff; //font-family: "Gotham Pro";
        text-align: center;
        font-weight: 300;
    }
    .header-right-button-1 {
        position: absolute;
        top: 10px;
        right: 45px;
        bottom: 5px;
        padding: 11px 7px;
        i {
            color: #fff;
            font-size: 24px;
            position: relative;
            top: -10px;
        }
    }
    .header-right-button {
        padding: 11px;
        i {
            color: #fff;
            font-size: 24px;
            position: relative;
            top: -6px;
        }
    }
}

.slick-slide {
    img {
        width: 100% !important; 
        height: 210px;
    }
}

.slick-next, .slick-prev {
   // display: none !important;
}

.banners-getting {
    opacity: 0;
  //  max-height: 200px;
}

.redd {
    color: red !important;
    font-weight: 700 !important;
}

.main-page-titlee {
    .button-clear {
        color: #2da5e1 !important;
    }
    &.bar-header.bar-stable {
        background-color: #fff !important;
    }
}

.ma-main-title {
    font-size: 28px;
    color: $primary-blue;
    text-align: center;
    padding: 15px;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 0;
    img {
        width: 100%
    }
}

input {
    line-height: 100% !important;
}

.ma-search-where {
    margin: 10px;
    margin-top: -10px;
    .input-item {
        margin-bottom: 10px;
        margin-top: -15px;
        input {
            font-size: 16px; //line-height: 21px;
            color: rgb(48, 48, 48);
            margin-right: 0; //z-index: 999999; // padding-top: 0 !important;
            // border: 1px solid red;
            // padding: 2px;
        }
        .search-div {
            border: none;
            border-bottom: 1px solid $primary-blue;
            margin: 0 30px;
            padding: 0 10px;
            position: relative;
            .ion-android-close {
                padding: 0 5px;
                font-size: 26px;
                position: absolute;
                right: -5px;
                color: $secondary-grey;
                top: 5px;
            } // padding-top: 0 !important;
            //padding-bottom: 0;
            // padding-left:  5px;
            // height: 100% !important;
        }
    }
    .item-input .checkbox input:before,
    .checkbox-icon:before {
        border-radius: 3px;
        border-color: $primary-blue !important;
    }
    .checkbox-icon {
        width: 30px;
        height: 30px;
        bottom: 5px;
    }
    .item-checkbox {
        border: none;
        margin: 0 30px;
        padding-top: 8px;
        padding-left: 55px;
    }
    legend {
        border: none; //font-family: "Gotham";
        font-weight: bold;
        text-align: center;
        width: inherit;
        padding: 0 10px;
        background: #fff;
        top: -3px;
        position: relative;
        font-size: 18px;
    }
    fieldset {
        border: 1px solid $primary-blue;
        border-radius: 5px;
        padding-bottom: 0;
    }
}

.header-img-class {
    width: 100%;
    text-align: center;
    img {
        position: relative;
        left: -30px;
        top: -15px;
    }

}

@media only screen and (max-width: 330px) {
    .button,
    .input-item input {
        font-size: 14px !important;
    }

    .ma-menu .ma-profile-info .profile-name {
        font-weight: 600 !important;
        font-size: 18px !important;
    }

    .ma-results .result-header-wrapper .ma-search-name.ma-search-name-left {
        font-size: 18px !important;
        font-weight: 600 !important;
    }

    .bar-header.bar-stable .title {
        left: 0 !important;
    }

    .ma-menu .ma-menu-list li {
        padding: 10px 0 !important;
        i {
            font-size: 20px !important;
        }
        .menu-li {
            font-size: 14px !important;
        }
    }
    .hide-on-small {
        display: none !important;
    }

    .ma-search-where legend,
    .ma-search-what legend {
        font-weight: 600 !important;
    }

    .ma-results .result-header-wrapper .ma-search-name {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .ma-search-button .search-button {
        padding: 10px !important;
        a {
            font-size: 16px !important;
            font-weight: 600 !important;
        }
    }

    .ma-my-cart .med-quantity .list .item-input .input-label {
        white-space: normal !important;
        width: 100% !important;
    }

    .ma-my-checkout .buyer-info .buyer-info-header {
        font-size: 16px !important;
    }

    .ma-results .ma-results-wrapper .mr-bottom {
        .button.call-button {
            width: auto !important;
            padding: 0 !important;
        }

        li.map-button {
            width: auto !important;
            padding: 0 !important;
        }
    }
}

.ma-search-what {
    margin: 10px;
    input {
        width: 100%;
        font-size: 16px; //line-height: 21px;
        color: rgb(48, 48, 48);
        z-index: 9999999; //padding: 2px;
        // height: 36px !important;
        //font-family: "Gotham Pro";
    }
    legend {
        border: none; //font-family: "Gotham";
        font-weight: 700;
        text-align: center;
        width: inherit;
        padding: 0 10px;
        background: #fff; // top: -3px;
        position: relative;
        font-size: 18px;
    }
    fieldset {
        border: 1px solid $primary-green;
        border-radius: 5px;
        padding-bottom: 0;
    }
    .what-to-search {
        position: relative; // height: 100%;
        .ion-android-close {
            padding: 0 5px;
            font-size: 26px;
            position: absolute;
            right: 0;
            top: 5px;
            color: $secondary-grey;
            background-color: #fff;
        }
    }
    .button-bar {
        margin: 0 30px;
        width: inherit;
        border: 1px solid $primary-blue;
        border-radius: 5px;
        padding: 1px;
        margin-bottom: 25px;
        position: relative;
        .button-blue-active {
            color: #ffffff;
            position: absolute;
            top: 2px;
            bottom: 2px;
            left: 0.8%;
            width: 41%;
            background-color: #2da5e1;
            -webkit-transition: 300ms linear;
            transition: 300ms linear;
            border-radius: 5px;
            z-index: -2;
            @media (max-width: 400px) {
                width: 46%;
            }
        }
        .button-blue-clinic {
            left: 0.3%;
            margin-left: 43%;
            -webkit-animation: institution linear;
            animation: institution linear;
            width: 56%;
            @media (max-width: 400px) {
                width: 56%;
                margin-left: 46%;
                width: 53%;
            }
        }
        .button-first {
            padding: 6px 0;
            max-width: 130px;
        }
        .button {
            min-width: auto;
            min-height: auto;
            line-height: 100%;
            border-radius: 5px;
            padding: 2px; //padding-bottom: 4px;
            background-color: transparent;
            font-size: 17px;
            line-height: 22px; //color: rgb(255,255,255);
            //font-family: "Gotham";
            font-weight: 400;
            color: $primary-blue;
            &:focus {
                border: none;
            }
        }
        .button-positive {
            color: #fff !important;
        }
        .activated {
            border: none !important;
        }
    }
    .item-input.item {
        border: none;
        border-bottom: 1px solid $primary-green;
        margin: 0 30px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5px;
        margin-bottom: 10px;
        height: 100% !important;
    }
    .input-item {
        margin-bottom: 10px;
    }
}

.ma-search-button {
    width: inherit;
    text-align: center;
    margin: 20px 10px;
    margin-bottom: 10px;
    .search-button {
        background-color: $primary-orange;
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        border: none;
        a {
            color: #000;
            font-weight: bold;
            text-decoration: none;
            font-size: 18px;
            line-height: 21px;
            color: rgb(48, 48, 48); //font-family: "Gotham";
            text-align: center;
            padding: 0;
        }
    }
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: $primary-blue;
    outline: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333 !important;
    white-space: nowrap;
    text-decoration: none;
}

.ma-typeahead-input {
    border: none;
    border-bottom: 1px solid $primary-green;
    margin: 0 30px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    strong {
        font-weight: 600 !important;
    }
    .uib-typeahead-match {
        font-size: 12px;
    }
    .dropdown-menu {
         li {
            padding: 5px !important; 
            a {
                padding: 6px 5px !important;
            }
        }
    }
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    background-color: transparent;
}

.lang-div {
       position: relative;
    /* right: 110px; */
    top: -64px !important;
}

/*select {
    background: transparent;
    color: #fff;
    line-height: 100%;
    font-size: 16px;
    border-color: #fff;
    border-radius: 5px;
    padding: 2px !important;
    option {
        color: #ddd;
    }
}*/